@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Montserrat&family=Poppins:wght@300;400&family=Raleway&family=Roboto+Mono&family=Source+Code+Pro&family=Source+Sans+Pro&family=Space+Mono&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100vw;
    height: 14vh;
    background-color: aqua;
}

nav{
    width: 50%;
    height: 12vh;
    margin: auto;
}

ul{
    display: flex;
}

ul li{
    font-family: 'Raleway', sans-serif;
    list-style: none;
}